.participant-drawer {
  .status-tag {
    border-radius: 10px;
    width: 90px;
    height: 30px;
    text-align: center;
    line-height: inherit;
    font-size: initial;
  }

  .label {
    margin-right: 5px;
    color: #2c00d5;
  }
}
