.question-page {
    .ant-card-body {
        height: 100%;
    }
    
    .ant-collapse > .ant-collapse-item > .ant-collapse-header {
        color: white;
    }

    .collapse-panel {
        background-color: #F58327;
    }
}