.avaliation-page {
  .aplication-select {
    border-radius: 15px;
    min-width: 300px;
    margin-bottom: 40px;
  }

  .ant-select-selector {
    border-radius: 15px !important;
  }

  .question-title {
    margin-top: 20px;
    background-color: #FFF;
    padding: 5px 15px;
    border-radius: 15px;
  }

  .button-row {
    margin-top: 30px;
  }
}
